.lead__caption {
    margin-top: 10.87px;
    font-family: Inter;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0.15em;
    width: 984px;
    margin-right: auto;
    margin-left: auto;
}