.intro__title {
    font-family: Inter;
    font-size: 54px;
    line-height: 58px;
    max-width: 100%;
}

@media (max-width : 1024px) {
    .intro__title {
        max-width: 70%;
    }
}
@media (max-width : 768px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}