@import url('./__content-row/intro__content-row.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__text/intro__text.css');
@import url('./__title/intro__title.css');

.intro {
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    max-width: 68%;
}


@media (max-width : 1024px) {
    .intro {
        max-width: 95%;
    }
}