.intro__text {
    font-family: Inter;
    font-size: 10px;
    line-height: 16px;
    max-width: 30%;
}

.intro__text:first-of-type {
    margin-right: 18px;
    font-family: Inter;
    font-size: 14px;
    line-height: 23px;
    max-width: 70%;
}

div.intro__text {
    margin-top: 35px;
    font-family: Inter;
    font-size: 13px;
    line-height: 20px;
    max-width: 100%;
}

@media (max-width : 768px) {
    .intro__text {
        max-width: 100%;
    }
    .intro__text:last-of-type {
        margin-bottom: 6%;
    }
    .intro__text:first-of-type {
        max-width: 100%;
    }
    div.intro__text {
        max-width: 100%;
    }
}